POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
POSTGRES_HOST=database
POSTGRES_PORT=5432
DJANGO_PORT=8000
SECRET_KEY='django-insecure-*_u3a0_26wcl!d60846%_d232g0wjl=2r9+go2z)el_8*)d+mm'
